# Ignore local dependencies downloaded from npm
node_modules/

# Ignore the compiled JavaScript files
out/
dist/

# Ignore temporary operating system or log files
.DS_Store
*.log

saminarko-ai-theme-generator-1.0.2.vsix